.logo-header {
    position: absolute;
    top: 8px;
    left: 32px;
    font-size: 18px;
}

.box-link-telepsicologia {
    width: 100%;
    position: relative;
    text-align: center;
}

.link-telepsicologia {
    position: absolute;
    top: 28px;
    left: 40%;
    font-size: 18px;

    color: #8EC742;
    text-align: center;
    font-family: "Poppins";
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    cursor: pointer;
}

.btn-header-telemedicina {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 77px;
    flex-shrink: 0;
    border-radius: 45px;
    border: transparent;
    background: #FFF;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
    color: #0B70E3;
    font-family: "Poppins";
    font-size: 18.62px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    text-decoration: none;
}

.btn-header-telemedicina:hover {
    background-color: #0B70E3;
    color: #FFF;
}

.img-advertising-header {
    position: absolute;
    right: 40px;
    top: 20%;
    z-index: 2;
}

.content-texts-header {
    z-index: 3;
    width: 43%;
    position: absolute;
    top: 20%;
    left: 50px;
}

.content-texts-header h1 {
    padding-bottom: 2em;
    color: #0B70E3;
    font-family: "Poppins";
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content-texts-header span {
    color: #1E1E1E;
    font-family: "Poppins";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.texts-header {
    display: flex;
    align-items: center;
    gap: .5em;
}

.content-texts-header svg {
    margin: 0;
    font-size: 32px;
    color: #0B70E3;
}

.btn-schedule {
    position: absolute;
    top: 105%;
    left: 50px;

    width: 454px;
    height: 77px;
    border-radius: 45px;
    border: transparent;
    background-color: #0B70E3;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: "Poppins";
    font-size: 18.62px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    cursor: pointer;

}

.btn-schedule:hover {
    background-color: #7FC7EA;
}

.content-vector {
    width: 100%;
    position: absolute;
}

.vector {
    position: absolute;
    right: 0;
    width: 459px;
    height: 489px;
    flex-shrink: 0;
    border-radius: 332px 0px 0px 0px;
    background: #0B70E3;
    z-index: 1;
    bottom: 0;
}

.vector img {
    position: absolute;
    top: 45%;
    right: 10px;
}


.banner {
    background-color: rgba(0, 196, 204, 0.69);
    position: relative;
}


/* efeito para os itens aparecer da esquerda pela direita */
.fade-enter {
    opacity: 0;
    transform: translateX(200%);
}

.fade-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 500ms, transform 500ms;
}

.banner-responsive {
    display: none;
}


.box-cards-jobs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1em;
}

.cards-jobs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    width: 22%;
    height: 350px;
    cursor: pointer;
}

.cards-jobs:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.cards-jobs div {
    display: flex;
    flex-direction: column;
}

.cards-jobs h3 {
    font-family: "Poppins";
    font-weight: bold;
    font-size: 27px;
    line-height: 40px;
    color: #0B70E3;
    text-align: center;
}

.cards-jobs li {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #3b3131;
}

.title-pans h1 {
    margin: 1em;
    padding-top: .5em;
    text-align: center;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 41px;
    line-height: 61.5px;
    color: #0B70E3;
}

.mockup-responsive{
    display: none;
}

.mockup {
    background-color: #012e40;
    width: 100%;
    height: 600px;
    position: relative;
    margin: 0;
    margin-top: 3em;
}

.mockup img{
    position: absolute;
    top: 0;
    right: 0;
    height: 700px;
}

.circle-mockup {
    margin: 0;
    background-color: rgba(0, 196, 204, 0.10);
    width: 400px;
    height: 550px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    left: -7em;
    top: 5%;
}


.texts-mockup{
    margin-left: 5em;
    padding: 2em;
    width: 55%;
}

.texts-mockup h1{
    color: #FFF;
    font-family: "Poppins";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 10px;
}
.texts-mockup p{
    margin: 10px;
    color: #D9D9D9;
    font-family: "Poppins";
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-consult-now {
    height: 90%;
    align-items: flex-end;
    display: flex;
}

.btn-consult-now button {
    width: 385px;
    height: 77px;
    border-radius: 45px;
    border: transparent;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 19px;
    line-height: 28px;
    background-color: #0B70E3;
    color: white;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
}

.btn-consult-now button:hover {
    background-color: #7FC7EA;
}

.title-questions {
    text-align: center;
    margin: 3em;
}

.title-questions h1 {
    font-family: "Poppins";
    font-size: 41px;
    font-weight: 800;
    line-height: 61.5px;
    color: #0B70E3;
}

.floating-button {
    z-index: 4;
    position: fixed;
    bottom: 5%;
    left: 35%;
    width: 385px;
    height: 77px;
    border-radius: 45px;
    border: transparent;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 19px;
    line-height: 28px;
    background-color: #0B70E3;
    color: white;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
}

.floating-button:hover {
    background-color: #7FC7EA;
}



@media screen and (max-width: 1023px) {
    .banner {
        display: none;
    }

    .banner-responsive {
        background-image: url(../../assets/banner-home-responsive.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 485px;

        display: flex;
        position: relative;
        margin: 0;
    }

    .banner-responsive img {
        z-index: 1;
        position: absolute;
        right: -30px;
        bottom: -30px;
    }

    .box-banner-responsive {
        margin-left: 1em;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
    }


    .box-banner-responsive h1 {
        margin: 0;
        color: #0B70E3;
        font-family: "Poppins";
        font-size: 27px;
        font-style: normal;
        font-weight: 700;
        line-height: 115%;
    }

    .box-banner-responsive h1::first-word {
        background-color: red;
    }

    .box-banner-responsive h5 {
        margin: 0;
        color: #0B70E3;
        font-family: "Poppins";
        font-size: 27px;
        font-style: normal;
        font-weight: 400;
        line-height: 115%;
    }

    .box-banner-responsive a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 208px;
        height: 49px;
        flex-shrink: 0;
        border-radius: 45px;
        background: #FFF;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
        text-decoration: none;
        cursor: pointer;
        color: #0B70E3;
        font-family: "Poppins";
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .box-banner-responsive a:hover {
        background-color: #0B70E3;
        color: white;
    }

    .box-banner-responsive button {
        width: 315px;
        height: 49px;
        z-index: 2;
        border-radius: 45px;
        background: #0B70E3;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
        border: transparent;
        color: #FFF;
        font-family: "Poppins";
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .box-banner-responsive button:hover {
        background-color: #7FC7EA;
    }

    .texts-icons-responsive {
        display: flex;
        align-items: center;
        gap: 5px;
        margin: 0;
    }

    .texts-icons-responsive span {
        margin: 0;
        color: #1E1E1E;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .texts-icons-responsive svg {
        color: #0B70E3;
        font-size: 14px;
        margin: 0;
    }

    .box-cards-jobs {
        gap: 2em;
    }

    .title-pans h1 {
        font-size: 30px;
    }

    .cards-jobs {
        width: 80%;
    }

    .title-questions {
        margin: 2em;
    }

    .title-questions h1 {
        font-size: 30px;
        line-height: normal;
    }

    .floating-button {
        width: 315px;
        height: 49px;
        font-size: 14px;
        line-height: normal;
        left: 5%;
    }
}


@media screen and (max-width: 767px) {

    .mockup{
        display: none;
    }

    .mockup-responsive {
        position: relative;
        display: block;
        width: 100%;
        height: 650px;
        background-color: #012E40;
    }


    .mockup-responsive img{
        height: 500px;
        position: absolute;
        bottom: -3em;
        right: 0;
    }

    .texts-mockup-responsive {
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 1em;
    }

    .texts-mockup-responsive h1{
        margin: 0;
        color: #FFF;
        text-align: left;
        font-family: "Poppins";
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .texts-mockup-responsive p{
        margin: 0;
        color: #D9D9D9;
        font-family: "Poppins";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    

}


@media screen and (min-width: 767px) and (max-width: 1023px) {
    .mockup{
        display: none;
    }

    

    .mockup-responsive {
        position: relative;
        display: block;
        width: 100%;
        height: 500px;
        background-color: #012E40;
    }


    .mockup-responsive img{
        height: 500px;
        position: absolute;
        bottom: -3em;
        right: 0;
    }

    .texts-mockup-responsive {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        padding: 1em;
        margin-left: 0;
        width: 58%;
        position: relative;
        top: 15%;
    }

    .texts-mockup-responsive h1{
        color: white;
        text-align: left;
        font-family: "Poppins";
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .texts-mockup-responsive p{
        margin: 0;
        color: #D9D9D9;
        font-family: "Poppins";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

}