/* cards */

.plans-card {
    width: 350px;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 11px;
    border: 0.5px solid #999999;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex: 0 0 auto;
    margin-top: 6em;
    margin-bottom: 4em;
    margin-left: .8em;
    position: relative;
    cursor: pointer;
}

.plans-card:hover {
    background-color: #012E40;
    color: #FFF;
}

.plans-card:hover .plans-icons-text span {
    color: #fff;
}

.plans-card:hover .plans-icons-text h5 {
    color: #fff;
}

.plans-card img {
    position: absolute;
    top: -90px;
    left: 78%;
}

.plans-card h1 {
    font-family: "Poppins";
    font-size: 37px;
    line-height: 55px;
    font-weight: 600;
    text-align: center;
    color: #0B70E3;
}

.plans-text-you-plus {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px solid #0B70E3;
    border-radius: 53px;
    padding: 5px;
    text-align: center;
}

.plans-text-you-plus h3 {
    margin: 0;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
}

.plans-text-you-plus h4 {
    margin: 0;
    margin: 0;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 29px;
    line-height: 43px;
}

.plans-text-you-plus svg {
    margin: 0;
}

.plans-icons-text {
    display: flex;
    margin-bottom: 10px;
    margin-left: 0;
    align-items: end;
    text-align: end;
    gap: 10px;
}

.plans-icons-text span {
    text-align: left;
    margin-left: 0;
    color: #1E1E1E;
    font-family: "Poppins";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.plans-icons-text h5 {
    margin-left: 0;
    color: #1E1E1E;
    font-family: "Poppins";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.plans-icons-text svg {
    margin: 0;
}


/* estilização global para todos os cards */
.plans-price {
    display: flex;
    align-items: center;
    justify-content: center;
}

.plans-price h1 {
    margin: 0;
    font-family: "Poppins";
    font-size: 44px;
    line-height: 66px;
    font-weight: 600;
    text-align: center;
    color: #0B70E3;
}

.plans-price h4 {
    margin: 0;
    font-family: "Poppins";
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    text-align: center;
    color: #0B70E3;
}

.plans-annual-text {
    border: 1px solid #999999;
    border-radius: 53px;
    padding: 8px;
}

.plans-annual-text h5 {
    color: #0B70E3;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
}

.plans-value-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.plans-value-text span {
    color: #0B70E3;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    padding: 10px;
    margin: 0;
}

.plans-discount-text {
    background-image: url(../../assets/tint.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.plans-discount-text span {
    font-family: "Poppins";
    font-size: 25px;
    line-height: 55px;
    font-weight: 600;
    text-align: center;
    color: white;
    margin: 0;
    margin-left: 1em;
}

.btn-choose {
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: -60px;
    left: 15%;
}

.btn-choose button {
    width: 264px;
    height: 77px;
    border-radius: 45px;
    background: #0B70E3;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
    border: transparent;
    color: #FFF;
    font-family: "Poppins";
    font-size: 18.62px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.btn-choose button:hover {
    background-color: #7FC7EA;
    ;
}

/* Cards fixados  */

.box-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-right: 1em;
}

/* responsividade para celular */

@media screen and (max-width: 767px) {

    .plans-card {
        width: 80%;
        margin-left: 10px;
    }

    .plans-card img {
        left: 74%;
    }

    .plans-text-you-plus h4 {
        font-size: 18px;
    }

    .plans-text-you-plus h3 {
        font-size: 24px;
    }
    
    .plans-annual-text h5{
        font-size: 15px;
    }

    .plans-value-text span{
        font-size: 12px;
    }
   
    .box-cards {
        flex-direction: column;
        margin-left: 1em;
    }

    .plans-icons-text h5{
        font-size: 15px;
    }

}

/* responsividade para tablets */

@media screen and (min-width: 767px) and (max-width: 1023px) {
    .plans-card {
        margin-left: 0;
        margin-right: 0;
    }

    .box-plans {
        flex-direction: column;
    }

    .box-cards {
        flex-direction: column;
        align-items: center;
    }

}